/*General*/
.cerrar{
  text-decoration: none;
}
/*perfil, registro*/
.formulario{
  
    max-width: 500px ;
    margin:auto ;
    padding-top: 30px;
}
/*Login, registro*/
.fondo{
  background-image: url(/images/bglogin.jpg);
  width: 100%;
  height: 600px;
background-size: cover;
}
/*perfil*/
.imagenPerfil img{
  
  width: 300px;
    border-radius: 150px;
     border: 2px solid #999;
       margin-left: 80px;
}
.perfil{
  width: 100%;
  height: auto;
background-image: url(/images/bgbanner.jpg);
  padding: 10px 0;
  background-size: cover;
box-sizing: border-box;
}
.video{
  width: 100%;
  padding: 10px;
background-image: url(/images/hojas.jpg);
background-repeat: no-repeat;
margin: auto ;
background-size: cover;
}
.arbol{
  width: 800px;
  margin:10px auto;
  text-align : center; 
}
.datos{
  padding-top: 50px;
}
.botonregar{
  width: 800px;
  text-align:left;
  font-size: 30px;
}
.negrita{
font-weight: bolder;
}
.leyenda{
  border: 5px solid rgb(0, 162, 255);
  margin-top: 140px;
  border-radius: 10px;
  font-size: 28px;
}
.descripcion{
  border: 2px solid black;
  border-radius: 10px;
  font-size: 28px;
  background-color: white;
  padding-left: 10px;
  width: 600px;
}

.configurar{
  margin: auto 10px;
  text-decoration: none;
  color: black !important;
}
/*contenido*/
/*Espacio para el flip box*/
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  transform: rotateX(180deg);
  padding: 20px;
}
/*Fin flip box*/

.cajasFlex {
  display:inline-flex;
  flex-wrap: wrap;
  background-image: url(/images/bgcontenido.jpg);
  background-size: cover;
}
  .card{
    width: 300px;
    height: 200px;
    margin: 30px;

  }
  .card-title{
    color: white;
  }

/*Resumen*/
hr{
  width: 100%;
    height: 10px !important;
    margin: 40px 0 25px;
    border: none;
    background-color: var(--color-elements-one);
}
.texto{
  width: 750px;
  margin: 20px auto;
  text-align: left;
}
.position{
  position: absolute;
  top: 100px;
  text-align: center;
  left: 150px;
  color: white;
  }
  .center{
    text-align: center;
  }
.imagen{
  width: 750px;
  background-size: cover;
}
.banner{
  width: 100%;
  text-align: center;
}
.btnquestion{
  width: 750px;
  margin: auto;
  text-align:end;
}
/*Comunidad*/
.seccioncomunidad{
background-image: url(/images/fondo3.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 1200px;
}
.usuario{
  width: 80%;
  height: auto;
  border: solid 1px black;
  margin: 30px auto;
  border-radius: 20px;
  background-color: beige;
  
}
.imgPerfil img {
  width: 150px;
  border-radius: 70px;
   border: 2px solid #999;
     margin: 20px 80px;
}
.verarbol{
  margin: 10px;
}
/* Cuestionario */
.seccionCuestionario{
  background-color:#f2f2f2 ;
  width: 100%;

}
.cuestionario{
  width: 750px;
margin: auto;
align-items: center;
}
.izq{
margin: 10px 60px;
}
.der{
margin: 10px 100px;
text-align: end;
}
.contenedor{
  display: flex;
  justify-content: space-between;
}
/*editar usuario*/
.btnguardar{
  margin: 10px;
}

