/*General*/
.cerrar{
  text-decoration: none;
}
/*perfil, registro*/
.formulario{
    max-width: 500px ;
    margin:auto ;
}
/*perfil*/
.imagenPerfil img{
  
  width: 300px;
    border-radius: 150px;
     border: 2px solid #999;
       margin-left: 80px;
}
.perfil{
  width: 100%;
  height: auto;
  background-color: azure;
  padding: 10px 0;
}
.arbol{
  width: 800px;
  height: 550px;
  margin:10px auto;
  text-align : center; 
}

.botonregar{
  width: 800px;
  margin: 10px auto;
  text-align:right;
}
.video{
  width: 100%;
  height: auto;
  background-color: #7fffd4;

}
/*contenido*/
.cajasFlex {
  display:inline-flex;
  flex-wrap: wrap
  }
  .card{
    width: 18rem;
    margin: 30px;
  }

/*Resumen*/
hr{
  width: 100%;
    height: 10px !important;
    margin: 40px 0 25px;
    border: none;
    background-color: var(--color-elements-one);
}
.texto{
  width: 750px;
  margin: 20px auto;
  text-align: left;
}
.position{
  position: absolute;
  top: 100px;
  text-align: center;
  left: 150px;
  color: white;
  }
.imagen{
  width: 750px;
  background-size: cover;
}
.banner{
  width: 100%;
  text-align: center;
}
.btnquestion{
  width: 750px;
  margin: auto;
  text-align:end;
}
/*Comunidad*/
.usuario{
  width: 90%;
  height: auto;
  border: solid 1px black;
  margin: 30px auto;
  border-radius: 20px;
}
.imgPerfil img {
  width: 150px;
  border-radius: 70px;
   border: 2px solid #999;
     margin: 20px 80px;
}
.verarbol{
  margin: 10px;
}
/* Cuestionario */
.seccionCuestionario{
  background-color:#f2f2f2 ;
  width: 100%;

}
.cuestionario{
  width: 750px;
margin: auto;
align-items: center;
}
.izq{
margin: 10px 60px;
}
.der{
margin: 10px 100px;
text-align: end;
}
.contenedor{
  display: flex;
  justify-content: space-between;
}

